@import 'tailwindcss';

@keyframes slideTopIn {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slide-top-in {
  animation: slideTopIn 0.4s cubic-bezier(0.4, 0, 0.2, 1) both;
}

/* @import './base.css'; */
